;; shadow-cljs configuration
{:source-paths
 ["src/dev/cljs"
  "target/dev"
  "src/main/cljs"
  "target/main"
  "src/test/cljs"
  "target/test"]

 :dependencies
 []

 :dev-http {8080 {:root "./public"}}

 :builds
 {:app {:target :browser
        :modules {:main {:init-fn app.core/init}}}}}
