;; shadow-cljs configuration
{:source-paths
 ["src/dev/cljs"
  "target/dev"
  "src/main/cljs"
  "target/main"
  "src/test/cljs"
  "target/test"]

 :dependencies
 [[reagent "1.0.0"]
  [funcool/bide "1.6.0"]
  [com.andrewmcveigh/cljs-time "0.5.2"]
  [clojure-interop/cljs-web-api "1.0.10"]]

 :dev-http {8080 "public"}

 :builds
 {:app {:target :browser
        :modules {:main {:init-fn app.core/init}}}}}
